@font-face{
    src:url(../fonts/Roboto-Black.ttf);
    font-family: roboto;
}
@font-face{
    src:url(../fonts/Lato-Regular.ttf);
    font-family: lato;
}

@font-face{
    src:url(../fonts/Lato-Bold.ttf);
    font-family: lato_b;
}

/*common start*/
body{
    font-family: roboto;
    font-size: 16px;
    font-weight: 400;
    color: 
}

/*common end*/

header{

}
.c_nav{
    padding-top: 0;
}
.n_brand{
   padding-top: 0; 
}
.logo{

}
.l-top{
    font-family: lato;
    margin-bottom: -8px;
    padding-top: 0;
}
.l_text{
  font-family: lato_b;
  font-size: 30px; 
  font-weight: 500;
  color: #333333; 
  text-transform: uppercase;
}
.menu{

}
.menu ul li a{
  padding: 0 15px !important; 
  font-size: 16px; 
  font-weight: 300;
  color: #8e8e8e !important;
  text-transform: uppercase;
}
.menu ul li a:hover{
    color: #333333 !important; 
    
}

.btn-search{
    color: #8e8e8e;
}
.btn-search:hover{
    color: #333333;
}
.btn-search:focus{
    box-shadow: none;
}

.d_search {
    min-width: 350px;
    top: 143%;
}
.d_search[data-bs-popper] {
    left: -289px;
    margin-top: -17px;
    padding: 8px
}

.s_btn{
    padding-left: 0%;
}